{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/sort-comp": [2, {
      order: [
        'constructor',
        'lifecycle',
        'everything-else',
        'static-methods',
        'render'
      ]
    }]
  },
  "env": {
    "browser": true
  }
}
